<div id="<%= dom_id marker %>">
  <p>
    <strong>Marker:</strong>
    <%= marker.marker %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= marker.platform %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= marker.frequency %>
  </p>

  <p>
    <strong>Livemetrics:</strong>
    <%= marker.livemetrics %>
  </p>

  <p>
    <strong>Customerimpact:</strong>
    <%= marker.customerimpact %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= marker.description %>
  </p>

</div>
