<p style="color: green"></p>



<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Marker</th>
      <th>Platform</th>
      <th>Frequency</th>
      <th>Livemetrics</th>
      <th>Customerimpact</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @markers.each do |marker| %>
    <tr>
      <td><%= marker.marker %></td>
  
      <td><%= marker.platform %></td>
   
      <td><%= marker.frequency %></td>
    
      <td><%= marker.livemetrics %></td>
  
      <td><%= marker.customerimpact %></td>
  
      <td><%= marker.description %></td>
      <td><%= link_to 'Details', marker %></td>
      <td><%= link_to 'Edit', edit_marker_path(marker) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br/>

<%= link_to 'New Marker', new_marker_path, class:"btn btn-secondary" %>




