<p style="color: green"></p>




<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th><%= sortable "marker", "Marker" %></th>
      <th><%= sortable "platform", "Platform" %></th>
      <th><%= sortable "frequency", "Frequency" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>





  <tbody>
    <% @markers.each do |marker| %>
    <tr>
      <td><%= marker.marker %></td>
  
      <td><%= marker.platform %></td>
   
      <td><%= marker.frequency %></td>
      <td><%= link_to 'Details', marker %></td>
      <td><%= link_to 'Edit', edit_marker_path(marker) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @markers %>
<br/>

<%= link_to 'New Marker', new_marker_path, class:"btn btn-secondary" %>




